@{
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
    ViewBag.Title = "Error";
}

<!DOCTYPE html>

<div class="list-header clearfix">
    <span>Error</span>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        An unexpected error has occurred. Please contact the system administrator.
    </div>
    <div>
        <p>
            <b>Message:</b>  @ViewBag.Message<br />
        </p>
    </div>
</div>

