@font-face {
    font-family: 'Maven Pro', sans-serif;
}

body {
    background: #FBFBFB;
    font-size: 22px;
}

.container {
    margin-top: 40px;
}

.buttons {
    margin-top: 50px;
}

.btn {
    margin-right: 10px;
    width: 80px;
}

h4 {
    font-family: 'Abel';
    font-size: 28px;
}

.dl-horizontal dt {
    width: 300px;
    text-align: left;
    font-family: 'Maven Pro';
    font-weight: 400;
    font-size: 20px;
}

.dl-horizontal dd { 
    width: 100%;
    font-family: 'Maven Pro';
    font-weight: 400;
    font-size: 20px;
}

check-box {
    margin-right: 100px;
}